.wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .label {
    margin-bottom: 10px;
  }
  .input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }